{%- assign empty_backs = true -%}
{%- assign item = include.item | default: page -%}
{%- unless item.service -%}
{%- if item.backlinks != false -%}
  {%- assign substr = 'link ' | append: item.path -%}
  {%- assign url = item.url | relative_url -%}
  {%- assign substr2 = 'href="' | append: url | append: '"' -%}
  {%- assign substr3 = 'href="' | append: url | append: '#' -%}
  {%- assign list = "" | split: '///' -%}
  {%- for ps in site.posts -%}
    {%- if ps.content contains substr or ps.content contains substr2 or ps.content contains substr3 -%}
      {%- assign list = list | push: ps -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for pg in site.pages | sort: 'path' -%}
    {%- unless pg.service -%}
      {%- if pg.content contains substr or pg.content contains substr2 or pg.content contains substr3 -%}
        {%- assign list = list | push: pg -%}
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- if list.size > 0 -%}
    {%- assign empty_backs = false -%}
    <aside class="backlinks" id="backs">
    {%- if include.header_level -%}
      <h{{- include.header_level -}}>{{- include.header_title | default: 'Ссылки сюда' -}}</h{{- include.header_level -}}>
    {%- endif -%}
    <ul>
    {%- for pp in list -%}
      {%- if pp.date -%}
        {%- assign icon = 'post' -%}
      {%- else -%}
        {%- assign icon = 'page' -%}
      {%- endif -%}
      <li class="back-{{- icon -}}"><a href="{{- pp.url | relative_url -}}" title="{{- pp.description | default: pp.title -}}">{{- pp.title | default: pp.path -}}</a></li>
    {%- endfor -%}
    </ul>
    </aside>
  {%- endif -%}
{%- endif -%}
{%- endunless -%}
{%- if empty_backs -%}
 <aside id="backs" style="visibility:hidden;height:0px;width:0px;margin:0px;padding:0px;"></aside>
{%- endif -%}
